#work {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  padding: 2rem 4rem;

  @media screen and (max-width: 768px) {
    padding: 1rem 2rem;
    gap: 1rem;
  }

  @media screen and (max-width: 450px) {
    padding: 0.5rem 1rem;
  }
}

.app_work-filters {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;

  .app_work-selected-filter {
    background-color: var(--secondary-color);
    color: white;
  }

  div {
    background-color: var(--white-color);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: all 0.5 ease;
    cursor: pointer;

    &:hover {
      background-color: var(--secondary-color);
      color: white;
    }
  }
}

.app_work-projects {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  gap: 2rem;

  .app_work-project {
    position: relative;
    cursor: pointer;
    transition: all 0.5 ease;

    img {
      width: 100%;
      height: 100%;
      border-radius: 0.5rem;
      border: 1px solid var(--secondary-color);
    }

    .app_work-project-overlay {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 0.5rem 1rem;
      color: white;
      border-radius: 0 0 0.5rem 0.5rem;
      background-color: rgba(0, 0, 0, 0.36);
      opacity: 0;
    }

    &:hover {
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);

      .app_work-project-overlay {
        opacity: 1;
      }
    }
  }

  @media screen and (max-width: 767px) {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  @media screen and (max-width: 450px) {
    gap: 0.5rem;
  }
}
